<!--First Line-->
<p layout="row">
	<span class="title" ng-bind="item.title"></span>
	<span class="reg bold" ng-bind="' - ' + item.status"></span>
</p>
<!--Second Line-->
<p layout="row">
	<span class="sub bold" >Emerson Ref:</span>
	<span class="sub" ng-bind="item.emerson_ref_nums"></span>
	<span class="gap"></span>
	<span class="sub bold" >MGB Ref:</span>
	<span class="sub" ng-bind="item.MGB_ref_nums"></span>
	
</p>
<!--Third line-->
<p layout="row">
	<span class="sub bold" >Last Edited:</span>
	<span class="sub" ng-bind="item.last_modified_by"></span>
	<span class="sub bold">on</span>
	<span class="sub" ng-bind="item.last_modified_date"></span>
</p>
<!--Right Hand Button Action (only allowed one)-->
<md-button type="button" aria-label="pinText(item)" ng-click="changePin(item)" class="md-secondary md-raised"
ng-class="{'md-warn': item.pinned == true}" ng-bind="pinText(item)"></md-button>